kakao:
  api:
    key: ${KAKAO_API_KEY}
spring:
  datasource:
    url: ${POSTGRES_DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}
  batch:
    jdbc:
      initialize-schema: always # 배치 테이블 자동 생성
  jpa:
    hibernate:
      ddl-auto: update
batch:
  csv:
    file:
      path: data/csv
cors:
  allowed-origins: ${CORS_URL}
