# ? ??? ?? ??? ?? ??? ?? ?? ??? ???? ?? ?????.
# ? ??? ???? application-local.yml ??? ???? ?? ??? ?????.

kakao:
api:
key: your-personal-kakao-api-key

#spring:
#  datasource:
#    url: ?? DB?? ????? ???? ? ??? ??? ?? ?????.
#    username: ?? DB ???? ????? ???? ? ??? ??? ?? ?????.
#    password: ?? DB ????? ????? ???? ? ??? ??? ?? ?????.