name: Full Backend & Infra CD

on:
  push:
    branches:
      - feature/60_deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      #1. 코드 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v3

      #2. SSH 세션 내에서 환경 변수를
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      #3. Backend Docker 이미지 빌드
      - name: Build backend Docker image
        run: |
          docker build -t backend/springboot-app:latest .

      #4. 전체 프로젝트 서버로 전송
      - name: Copy project to EC2
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "**"
          target: "~/deploy/"

      #5. SSH 접속 후 .env 파일 생성 + 서비스 재시작
      - name: Restart all services
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            
            cd ~/deploy

            #### .env 파일 생성
            cat > .env <<EOF
            KAKAO_API_KEY=${{ secrets.KAKAO_API_KEY }}
            
            POSTGRES_DB=${{ secrets.POSTGRES_DB }}
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
            
            REDIS_AOF=${{ secrets.REDIS_AOF }}
            REDIS_PORT=${{ secrets.REDIS_PORT }}
            SPRING_DATA_REDIS_HOST=${{ secrets.SPRING_DATA_REDIS_HOST }}
            SPRING_DATA_REDIS_PORT=${{ secrets.SPRING_DATA_REDIS_PORT }}
            
            PROMETHEUS_PORT=${{ secrets.PROMETHEUS_PORT }}
            GRAFANA_PORT=${{ secrets.GRAFANA_PORT }}
            GRAFANA_ADMIN_USER=${{ secrets.GRAFANA_ADMIN_USER }}
            GRAFANA_ADMIN_PASSWORD=${{ secrets.GRAFANA_ADMIN_PASSWORD }}
            
            ELASTICSEARCH_HOST=${{ secrets.ELASTICSEARCH_HOST }}
            ELASTICSEARCH_PORT=${{ secrets.ELASTICSEARCH_PORT }}
            ELASTICSEARCH_SCHEME=${{ secrets.ELASTICSEARCH_SCHEME }}
            ELASTICSEARCH_TRANSPORT_PORT=${{ secrets.ELASTICSEARCH_TRANSPORT_PORT }}
            
            KIBANA_PORT=${{ secrets.KIBANA_PORT }}
            LOGSTASH_BEATS_PORT=${{ secrets.LOGSTASH_BEATS_PORT }}
            LOGSTASH_HTTP_PORT=${{ secrets.LOGSTASH_HTTP_PORT }}
            
            OSRM_CAR_URL=${{ secrets.OSRM_CAR_URL }}
            OSRM_FOOT_URL=${{ secrets.OSRM_FOOT_URL }}
            OSRM_BIKE_URL=${{ secrets.OSRM_BIKE_URL }}
            OSRM_FOOT_URL=${{ secrets.OSRM_FOOT_URL }}
            EOF
            
            chmod +x ~/deploy/infra/scripts/*.sh
            sudo ./infra/scripts/stop.sh
            sudo ./infra/scripts/start.sh